/-------------------- 27.03.2026 --------------------/

- DAQ data capturing using MODBUS TCP			- 01/04/2026
- MFM data capturing using MODBUS RTU [RS485] 		- 01/04/2026
- Logging in files for 30 Days				- 02/04/2026
- Perform Thermodynamic Calculation			- 02/04/2026
- Transmit data to the cloud using MQTT protocol	- 04/04/2026
- Create dashboard for data display and monitoring	- 04/04/2026
